@import "catppuccin.css";

:root {
  --background-color: var(--ctp-latte-base);
  --heading-color: var(--ctp-latte-text);
  --text-color: var(--ctp-latte-subtext1);
  --accent-color: var(--ctp-latte-lavender);
  --border-color: var(--ctp-latte-blue);
  --link-color: var(--ctp-latte-blue);
  --header-bg-color: var(--accent-color);
  --header-text-color: var(--ctp-latte-base);

  --box-shadow: var(--accent-color) 0px 0px 0px 5px;
  --theme-icon: "";
  --theme-color: linear-gradient(130deg, #f2fa8f, #eb9a25);
  --theme-background: url("/clouds.png");
}

:root.dark {
  --background-color: var(--ctp-mocha-base);
  --heading-color: var(--ctp-mocha-text);
  --text-color: var(--ctp-mocha-subtext1);
  --accent-color: var(--ctp-latte-lavender);
  --border-color: var(--ctp-latte-blue);
  --link-color: var(--ctp-mocha-blue);
  --header-bg-color: var(--accent-color);
  --header-text-color: var(--ctp-mocha-base);

  --theme-icon: url("/moon_crater.png");
  --theme-color: linear-gradient(130deg, #fafbfe, #9aa4b1);
  --theme-background: url("/stars.png");
}

body {
  font-family: "Open Sans", sans-serif;
  text-align: left;
  background-color: var(--background-color);
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: var(--text-color);
  font-size: 18px;
  line-height: 1.7;
  width: 1024px;
  max-width: calc(100% - 2em);
  margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5rem 0;
  color: var(--heading-color);
  line-height: 1.2;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.25em;
}
h3 {
  font-size: 1em;
}
h4 {
  font-size: 0.75em;
}
h5 {
  font-size: 0.5em;
}
strong,
b {
  font-weight: 700;
}
a {
  color: var(--link-color);
  font-weight: 400;
  text-underline-offset: 0.3ex;
  text-decoration-thickness: 0.1em;
}
p {
  margin-bottom: 1em;
}
.prose p {
  margin-bottom: 2em;
}
textarea {
  width: 100%;
  font-size: 16px;
}
input {
  font-size: 16px;
}
table {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
pre {
  padding: 1.5em;
  border-radius: 8px;
}
pre > code {
  all: unset;
}
blockquote {
  border-left: 4px solid var(--accent-color);
  padding: 0 0 0 20px;
  margin: 0px;
  font-size: 1em;
}
