:root {
  --white-1: #f3f3f4;
  --white-2: #e5e9f0;
  --purple-1: #4f46e5;
  --purple-2: #7678ed;
  --black-1: #34312d;
  --black-2: #242423;
  --gray-1: #696969;

  --background-color: var(--white-1);
  --heading-color: var(--black-1);
  --text-color: var(--gray-1);
  --accent-color: var(--purple-1);
  --box-shadow: var(--accent-color) 0px 0px 0px 5px;
  --theme-icon: "";
  --theme-color: linear-gradient(130deg, #f2fa8f, #eb9a25);
  --theme-background: url("/clouds.png");
}

:root.dark {
  --background-color: var(--black-2);
  --heading-color: var(--white-1);
  --text-color: var(--white-2);
  --accent-color: var(--purple-2);
  --theme-icon: url("/moon_crater.png");
  --theme-color: linear-gradient(130deg, #fafbfe, #9aa4b1);
  --theme-background: url("/stars.png");
}

body {
  font-family: "Open Sans", sans-serif;
  text-align: left;
  background-color: var(--background-color);
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: var(--text-color);
  font-size: 18px;
  line-height: 1.7;
  width: 1024px;
  max-width: calc(100% - 2em);
  margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5rem 0;
  color: var(--heading-color);
  line-height: 1.2;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.25em;
}
h3 {
  font-size: 1em;
}
h4 {
  font-size: 0.75em;
}
h5 {
  font-size: 0.5em;
}
strong,
b {
  font-weight: 700;
}
a {
  color: var(--accent-color);
  text-underline-offset: 0.2em;
  transition: all 0.2s;
}
a:hover {
  color: var(--white-1);
  background-color: var(--accent-color);
  opacity: 1;
}
p {
  margin-bottom: 1em;
}
.prose p {
  margin-bottom: 2em;
}
textarea {
  width: 100%;
  font-size: 16px;
}
input {
  font-size: 16px;
}
table {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
blockquote {
  border-left: 4px solid var(--accent-color);
  padding: 0 0 0 20px;
  margin: 0px;
  font-size: 1em;
}
