---
import { Image } from "astro:assets";
import localProfileImage from "../content/images/profile.png";
import SubHeading from "../components/SubHeading.astro";
import SocialLinks from "../components/SocialLinks.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="home">
  <main>
    <section>
      <Image
        class="profile-image"
        src={localProfileImage}
        alt="cartoon representation of Brian"
      />

      <div>
        <h1>Brian Farias Tavares</h1>
        <p>
          I'm a Software Engineer from <a
            href="https://goo.gl/maps/ph8WhKSFZKDRgYoY6"
            target="_blank">Ottawa, Canada</a
          >. I work on web stuff at <a
            target="_blank"
            href="https://spotify.com/">Spotify</a
          >. I help co-organize the <a
            href="https://www.meetup.com/Ottawa-ReactJS-Meetup/"
            target="_blank">React Ottawa Meetup</a
          > and serve on the board of governors at <a
            href="https://cegep-heritage.qc.ca"
            target="_blank">Heritage College</a
          >.
        </p>
        <SocialLinks />
      </div>
    </section>
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
  }
  section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 24px;
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
  .profile-image {
    width: 256px;
    height: 256px;
    border-radius: 20%;
  }
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.25em;
  }
</style>
