---
import SubHeading from "../components/SubHeading.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="uses">
  <main>
    <h1>Stuff I use</h1>
    <p>
      This is a "uses" page, which lists my favorite gear and software. Check
      out uses.tech to see the surprising number of other people who also
      publish one.
    </p>
    <SubHeading>Hardware</SubHeading>
    <ul>
      <li>MacBook Pro 16" M1 Max (work)</li>
      <li>Macbook Air 13" M2 (personal)</li>
    </ul>
    <SubHeading>Coding</SubHeading>
    <ul>
      <li>VSCode</li>
    </ul>
    <SubHeading>Photography</SubHeading>
    <ul>
      <li>Sony A6500</li>
      <li>Ricoh GRIII</li>
    </ul>
  </main>
</Layout>
