---

---

<main>
  <slot />
</main>

<style>
  main {
    max-width: 720px;
    margin: 0 auto;
    padding: 1rem;
    min-height: 100vh;
    min-height: 100dvh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }
</style>
