---
import SocialLinks from "./SocialLinks.astro";
const currentYear = new Date().getFullYear();
---

<footer>
  <span>© {currentYear} Brian Farias Tavares</span>
  <SocialLinks />
</footer>

<style>
  footer {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    margin-top: 4rem;
    border-top: 2px solid var(--accent-color);
    padding: 1rem 0;
  }
</style>
