---
import { NAME } from "../consts";
import SocialLinks from "./SocialLinks.astro";
const currentYear = new Date().getFullYear();
---

<footer aria-label="Site footer">
  <div class="socials">
    <SocialLinks />
  </div>
  <small>&copy; {currentYear} {NAME}</small>
</footer>

<style>
  footer {
    font-size: var(--text-lg);
    padding: 3rem 0 1.5rem;
    margin-top: auto;
    color: var(--text-color);
    text-align: center;
  }
  .socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
</style>
