---
import { Image } from "astro:assets";
import HeaderLink from "./HeaderLink.astro";
import ThemeToggle from "./ThemeToggle.astro";
import localProfileImage from "../content/images/profile.png";
---

<nav>
  <ul>
    <li>
      <HeaderLink href="/">Home</HeaderLink>
    </li>
    <li>
      <HeaderLink href="/uses">Uses</HeaderLink>
    </li>
  </ul>
  <ThemeToggle />
</nav>

<style>
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    border-bottom: 3px solid var(--border-color);
  }
  ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 16px;
    padding-inline-start: unset;
    align-items: center;
  }
  .profile-image {
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }
</style>
