---
import ThemeToggle from "./ThemeToggle.astro";
---

<nav>
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/about">About</a>
    </li>
    <li>
      <a href="/uses">Uses</a>
    </li>
  </ul>
  <ThemeToggle />
</nav>

<style>
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    border-bottom: 3px solid var(--border-color);
  }
  ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 16px;
    padding-inline-start: unset;
    align-items: center;
  }
</style>
