---
import FormattedDate from "./FormattedDate.astro";
const { slug, title, date } = Astro.props;
---

<article>
  <a href={`/blog/${slug}`}>{title}</a>
  <FormattedDate date={date} />
</article>

<style>
  a {
    text-wrap: nowrap;
  }
</style>
