---
import FormattedDate from "./FormattedDate.astro";
const { slug, title, date } = Astro.props;
---

<article>
  <a href={`/blog/${slug}`}>{title}</a>
  <FormattedDate date={date} />
</article>

<style>
  article {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    align-content: center;
  }

  a {
    text-wrap: nowrap;
  }

  span {
    text-wrap: nowrap;
  }

  .spacer {
    width: 100%;
    height: 1.25rem;
    margin-inline: 0.5rem;
    border-bottom: 1px dotted var(--accent-color);
  }
</style>
