---
import BaseHead from "../components/BaseHead.astro";
import Navigation from "../components/Navigation.astro";
import Container from "../components/Container.astro";
import Footer from "../components/Footer.astro";
import { NAME, DESCRIPTION } from "../consts";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={`${title} - ${NAME}`} description={DESCRIPTION} />
  </head>
  <body>
    <Container>
      <Navigation />
      <slot />
      <Footer />
    </Container>
  </body>
</html>
